@use '../01-settings/' as *;
@use '../02-tools/' as *;

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;

  &__input, &__textarea {
    max-width: 600px;
    padding: 20px 20px;
    margin-bottom: 20px;
    color: $color-white;
    background-color: rgba(0, 0, 0, 0.232);
    border: 1px solid $color-white;
    border-radius: .4rem;
    font-size: 1.5rem;
    outline: none;
    transition-duration: .5s;

    &:active, &:focus {
      background-color: #1b1b1b66;
      box-shadow: 0px 0px 15px 0px $color-white;
    } 

    &::placeholder {
      color: rgb(194, 194, 194);
      letter-spacing: 2px;
      font-style: italic;
    }

    &--submit {
      cursor: pointer;

        &:hover {
          background-color: #ffffff;
          color: $color-black;
        }
    }
  }
  &__textarea {
    height: 400px;
  }
  &__label {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: $color-white;
  }

  &__msg-sent {
    position: relative;
    font-size: 2rem;
  }
}