@use '../01-settings/' as *;
@use '../02-tools/' as *;

.heading {

  &--h1 {
    color: $color-white;
    font-size: 3rem;
    letter-spacing: 2px;
    opacity: 0;

    @include medium {
      font-size: 4rem;
    }
    @include large {
      font-size: 5rem;
    }
  }
  
  &--h2 {
    position: relative;
    color: $color-white;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 2rem;

    &::first-letter {
      color: $color-blue;
    }
  }
  
  &--h3 {
    position: relative;
    margin: 20px auto ;
    color: $color-white;
    padding: 10px;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 2px;
  }
}