@use '../01-settings/' as *;
@use '../02-tools/' as *;

.heading {

  &--h1 {
    color: $color-white;
    font-size: 3rem;
    letter-spacing: 2px;
    z-index: 1;

    @include medium {
      font-size: 4rem;
    }
    @include large {
      font-size: 5rem;
    }
  }
  
  &--h2 {
    color: $color-white;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;

    &::first-letter {
      color: $color-blue;
    }
  }
}