@use '../01-settings/' as *;
@use '../02-tools/' as *;
@use '../04-elements/' as*;

.image-box {
  position: relative;
  height: 160px;
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
  border-radius: .6rem;
  box-shadow: 0px 0px 15px gray;
  cursor: pointer;

  @include large {

    &:hover {
      animation: scalePicture 0.3s linear forwards;
      box-shadow: 0 0 25px gray;
    }
  }
  

  &__image {
    height: 100%;
    width: 100%;
    display: block;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
  }
  
  &__text {
    text-align: center;
    padding: 1.5rem;
    font-size: 1.6rem;
    font-style: italic;

    &--text-description {
      font-size: 2.2rem;
      font-style: italic;
    }
  }
}
.project-image-box {
  position: relative;
  height: 350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  transition-duration: .5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  @include x-small {
    height: 400px;
    width: 70%;
  }

  @include small {
    height: 400px;
    width: 80%;
  }

  @include large {
    height: 600px;
  }
  
  &__image {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
}