@use '../01-settings/' as *;
@use '../02-tools/' as *;
@use '../04-elements/' as *;

.project-image-box {
  position: relative;
  height: 350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  transition-duration: .5s;
  cursor: pointer;

  &:hover, &:active, &:focus {
    transform: scale(1.05);
  }

  @include x-small {
    height: 400px;
    width: 70%;
  }     

  @include small {
    height: 400px;
    width: 80%;
  }

  @include large {
    height: 600px;
  }
  
  &__image {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
}