@use '../01-settings/' as *;

.logo {
  color: $color-white;
  font-size: 2.5rem;
  letter-spacing: 4px;
  transition: .5s;
  overflow: hidden;
  white-space: unset;
  border-right: 4px solid $color-blue;
  animation: logo-typing 2s steps(24) forwards,
              borderCursor .5s linear 2s infinite;

  &::first-letter {
    color: $color-blue;

  }
}