@use '../01-settings/' as *;
@use '../02-tools/' as *;

.site-section {
  position: relative;
  min-height: 70vh;
  padding-top: $grid-base * 3;
  border-bottom: 1px solid $color-white;

  &__blackout {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  &--img {
    height: 50rem;
    border-radius: 10px;
    transform: rotateY(180deg);
  }

  &--span {
    opacity: 0;
    transition-duration: .5s;
  }

  &--bg-color {
    background: black;
    min-height: 70vh;
  } 

  &__contact {
    background: url(../assets/img/pexels-tima-miroshnichenko-5380792.jpg) center/cover;
  
    @include large {
      background-attachment: fixed;
    }
  }

  &__brands {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    @include small {
      flex-direction: column;
    }

    &--el {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      color: $color-white;
      margin-bottom: 15px;
      margin-right: 5px;
      padding: 10px;
      box-shadow: 0px 0px 5px 0px $color-white;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      transition: .2s ease;

      @include medium {
        margin-bottom: 20px;
      }

        &:hover, &:active, &:focus {
          transform: scale(1.05);
        }
    }
  }
}