@use '../01-settings/' as *;
@use '../02-tools/' as *;

.site-menu {
  display: block;
  position: absolute;
  top: 7%;
  left: -100%;
  width: 100%;
  z-index: 2;
  background-color: #000000c4;
  box-shadow: inset 0px 0px 20px 0px $color-white;
  transition-duration: .5s;

  @include medium {
    display: none;
  }

  &__element {
    color: $color-white;
  }

  &__writing {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: 0px 0px 20px $color-white;

    &::before {
       content: '';
       display: inline-block;
       position: absolute;
       left: 0;
       height: 10px;
       width: 10px;
       background-color: $color-blue;
    }
  }
}