@use '../01-settings/' as*;

.list {
  font-size: 2rem;
  list-style: none;
  color: $color-white;


  &--element {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: $gutter * 1.5;
    margin-left: $gutter * 1.5;
    letter-spacing: 2px;

    &::before {
      content: '';
      position: absolute;
      left: -20px;
      display: inline-block;
      white-space: nowrap;
      height: 10px;
      width: 10px;
      margin-right: 10px;
      transform: rotate(45deg);
      background-color: $color-blue;
    }
  }
}