@use '../01-settings/' as *;

p {
  font-family: 'Roboto', sans-serif;
  font-size: 2 * $font-base;
  line-height: 2.8rem;
  letter-spacing: 1px;
  padding: $grid-base;
  margin-top: $grid-base * 1.5;
  color: $color-white;
}